body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url('./assets/pexels-akshar-dave-1440477.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
h1 {
  margin-top: 50px;
  margin-bottom: 40px;
  color: rgb(83, 138, 0);
}

.container {
  background-color: rgb(65, 2, 13);
  max-width: 800px;
  width: 90%;
  margin-top: 300px;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}

.year-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.year-card:hover {
  transform: translateY(-5px);
}

.movie-display {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.movie-display:hover {
  transform: translateY(-5px);
}

.error-message {
  color: red;
  margin-top: 10px;
}

.add-to-watch-maybe {
  margin-top: 10px;
}

.add-to-watch-maybe button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.2s ease-in-out;
}

.add-to-watch-maybe button:hover {
  background-color: #0056b3;
}

.movie-details {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.goto-watch-maybe-btn {
  background-color: rgb(83,138,0);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.goto-watch-maybe-btn:hover {
  background-color: rgb(65, 2, 13);
}